body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    text-transform: uppercase;
}

a,
h1,
h2 {
    font-family: "Big Shoulders Display";
}

h2 {
    font-size: 60px;
    line-height: 60px;
    margin: 0;

}

p {
    font-family: "Outfit";
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    color: #444444;
}

header {

    height: 800px;
    margin-bottom: 180px;
    width: 990px;
    background-color: black;
}


h1 {
    margin: 0;
    position: absolute;
    top: 189px;
    left: 165px;
    color: white;
    font-size: 96px;
    line-height: 88px;
    mix-blend-mode: difference;
}


.img-header {
    float: right;
    background-image: url(assets/desktop/image-hero.jpg);
    width: 540px;
    height: 800px;
    background-repeat: no-repeat;
}

.header-txt {
    position: absolute;
    left: 925px;
    top: 190px;
    width: 350px;
}

.button {

    display: flex;
    position: absolute;
    top: 414px;
    left: 925px;
    height: 72px;
    width: 274px;
    background: linear-gradient(to right, #151515 80%, #D5966C 20%);

}

.button:hover {
    background: linear-gradient(to right, #D5966C 80%, #151515 20%);

}

a {

    font-size: 20px;
    letter-spacing: 3.64px;
    text-transform: uppercase;
    width: 204px;
    text-decoration: none;
    color: white;
    padding: 24px 0 0 32px;
}


.fleche {

    width: 56px;
    background-image: url(assets/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
}




/* main section */

main {

    width: 1110px;
    height: 1150px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "txt1 img1 img1"
        "img2 img2 img3"
        "img2 img2 txt2";
}

.txt1 {
    grid-area: txt1;
    justify-self: center;
    align-self: center;
    width: 350px;
    height: 280px;
}

.txt1 h2 {
    margin-bottom: 32px;
}

.img1,
.img2 {
    width: 625px;
}

.img1 {
    grid-area: img1;
    background-image: url(assets/desktop/image-grid-1.jpg);
    height: 400px;
    justify-self: end;
    background-repeat: no-repeat;
    padding-bottom: 30px;

}

.img2 {
    grid-area: img2;
    background-image: url(assets/desktop/image-grid-2.jpg);


}

.img3,
.txt2 {
    width: 445px;
}

.img3 {
    grid-area: img3;
    background-image: url(assets/desktop/image-grid-3.jpg);
    background-repeat: no-repeat;
    height: 313px;

}

.txt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: txt2;
    background-color: #151515;
    color: white;
    height: 377px;
}

.txt2 h2 {
    margin-bottom: 32px;
    width: 350px;

}

.txt2 p {

    width: 350px;
    color: white;
}

/* footer section */
footer {
    margin-top: 180px;
    background-color: black;
    color: white;
    height: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    height: 84px;

}

.logolight {
    content: url(assets/logo-light.svg);
    height: 58px;
}



.txt-footer {
    font-family: "Outfit";
    font-size: 16px;
    line-height: 26px;
    width: 430px;
}

.logorsn {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.logorsn path:hover {
    fill: #D5966C;
}

/* Format tablet 768px */
@media only screen and (max-width:768px) {
    p {
        font-size: 18px;
        line-height: 28px;
    }

    h2 {
        font-size: 50px;
        line-height: 45px;
    }

    header {
        width: 437px;
        height: 700px;
    }


    .img-header {
        background-image: url(assets/tablet/image-hero.jpg);
        float: none;

    }

    .button {
        top: 483px;
        left: 389px;
    }

    .header-txt {
        top: 323px;
        left: 389px;

    }

    h1 {
        color: black;
        top: 145px;
        left: 389px;
        mix-blend-mode: normal;
        font-size: 70px;
        line-height: 65px;

    }

    main {
        width: 689px;
        height: 1131px;
    }

    .txt1 {
        width: 223px;
        justify-self: normal;
        padding-bottom: 76px;

    }

    .img1,
    .img2 {
        width: 398px;
    }

    .img1 {
        background-image: url(assets/tablet/image-grid-1.jpg);
        padding-bottom: 11px;
    }

    .img2 {
        background-image: url(assets/tablet/image-grid-2.jpg);

    }

    .txt2,
    .img3 {
        width: 280px;
    }

    .img3 {
        background-image: url(assets/tablet/image-grid-3.jpg);
    }



    .txt2 h2 {
        width: 223px;
        margin-bottom: 24px;
    }

    .txt2 p {
        width: 223px;
        color: white;
        font-size: 18px;
    }

    footer {
        height: 216px;

    }

    .footer-content {
        width: 689px;
        justify-content: space-around
    }

    .logolight {
        height: 40px;
    }

    .txt-footer {
        width: 280px;
    }

    .logorsn {
        width: 100px;
    }
}

@media only screen and (max-width:375px) {
    body {
        width: 375px;
        display: flex;
        flex-direction: column;

    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
    }

    .header-title {
        width: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;

    }

    h1,
    .button,
    .header-txt {
        margin-left: 16px;
    }

    h1,
    h2 {
        font-size: 50px;
        line-height: 45px;

    }

    h1 {
        position: initial;
        height: auto;
    }

    .img-header {
        background-image: url(assets/mobile/image-hero.jpg);
        height: 240px;
        width: 375px;

    }

    .header-txt {
        position: initial;

    }

    .button {
        position: initial;
    }

    main {
        width: 343px;
        height: auto;
        display: flex;
        flex-direction: column;


    }

    .img1 {
        background-image: url(assets/mobile/image-grid-1.jpg);
        width: 100%;



    }

    .txt1 {
        margin: 0;
        padding: 0;
        align-self: flex-start;
        width: 100%;

    }

    .img2 {
        background-image: url(assets/mobile/image-grid-2.jpg);
        height: 480px;
        width: 100%;

    }

    .img3 {
        background-image: url(assets/mobile/image-grid-3.jpg);
        width: 100%;
        height: 200px;

    }

    .img2,
    .img3,
    .txt-footer,
    .logolight {
        margin-bottom: 16px;
    }

    .txt2 {
        height: 293px;
        width: 100%;
    }

    footer {
        height: 345px;

    }

    .footer-content {
        flex-direction: column;
        width: 311px;


    }

    .logolight {
        width: 110px;

    }

    .txt-footer {
        width: 100%;


    }

    .logorsn a {
        padding: 0;
    }
}